.header {
    background-color: #113153; /* Cor de fundo do header */
    color: #000; /* Cor do texto preta */
    width: 100%; /* Ocupa toda a largura da tela */
    position: fixed; /* Fixa o header na parte superior */
    top: 0;
    left: 0;
    border-bottom: 1px solid #aaa9a9; /* Linha inferior do header */
    display: flex;
    justify-content: space-between; /* Espaça os elementos do header */
    align-items: center; /* Alinha os itens ao centro verticalmente */
    padding: 5px 20px; /* Altura do header e espaçamento */
    z-index: 1000; /* Garante que o header fique acima de outros elementos */
}

.language-buttons {
    display: flex; /* Alinha os botões de idioma horizontalmente */
    gap: 10px; /* Espaçamento entre os botões de idioma */
}

.language-buttons button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.language-buttons button:hover {
    background-color: #0056b3;
}

.menu {
    display: flex;
    justify-content: center; /* Centraliza o menu horizontalmente */
    flex-grow: 1; /* Permite que o menu ocupe o espaço restante */
    background-color: #113153;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu ul li {
    margin: 0 20px;
}

.menu ul li a {
    color: #fff;
    text-decoration: none;
    padding: 8px 15px;
    background-color: #113153;
    transition: background-color 0.3s;
}

.menu ul li a:hover {
    background-color: #0d2a45;
    border-radius: 4px;
}

.logout-button {
    display: flex;
    align-items: center;
}
