/* Footer.css */

.footer {
    background-color: #113153;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    border-radius: 0; /* Remove as bordas arredondadas para preencher a tela */
    width: 100%; /* Garante que o footer ocupe 100% da largura da tela */
    position: fixed; /* Fixa o footer na parte inferior da tela */
    bottom: 0; /* Garante que o footer esteja na parte inferior */
    left: 0;
}
