.header {
    background-color: #113153;
    color: #000;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 1px solid #aaa9a9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; /* Ajusta o padding lateral */
    height: 60px; /* Define a altura do header */
    z-index: 1000;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center; /* Centraliza verticalmente os itens do menu */
}

.menu ul li {
    margin: 0 20px;
}

.menu ul li a {
    color: #fff;
    text-decoration: none;
    padding: 8px 15px;
    background-color: #113153;
    transition: background-color 0.3s;
    line-height: 60px; /* Ajusta o alinhamento vertical */
}

.menu ul li a:hover {
    background-color: #0d2a45;
    border-radius: 4px;
}

.language-buttons button {
    background-color: #113153; /* Cor de fundo dos botões */
    color: #fff; /* Cor do texto */
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.language-buttons button:hover {
    background-color: #0d2a45; /* Cor de fundo ao passar o mouse */
}

.logout-button {
    display: flex;
    align-items: center;
}

.logout-button button {
    background-color: #113153; /* Cor de fundo do botão de logout */
    color: #fff; /* Cor do texto */
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.logout-button button:hover {
    background-color: #0d2a45; /* Cor de fundo ao passar o mouse */
}
